.idea
.vscode

/target/
target/
target
.target
target/original-stlpluginhwchanges-1.0.jar
target/original-stlpluginhwchanges-1.0.jar
target/stlpluginhwchanges-1.0-shaded.jar
target/maven-status/maven-compiler-plugin/compile/default-compile/createdFiles.lst
target/maven-status/maven-compiler-plugin/compile/default-compile/inputFiles.lst
target/original-stlpluginhwchanges-1.0.jar
target/stlpluginhwchanges-1.0-shaded.jar
target/classes/plugin.yml
target/classes/org/mechSnow/sTLPluginHWChanges/STLPluginHWChanges.class
target/classes/org/mechSnow/sTLPluginHWChanges/commands/BarrierCommand.class
target/classes/org/mechSnow/sTLPluginHWChanges/commands/GetTemperatureCommand.class
target/classes/org/mechSnow/sTLPluginHWChanges/commands/GetTemperatureCommand$1.class
target/classes/org/mechSnow/sTLPluginHWChanges/commands/TestCommandsFN.class
target/classes/org/mechSnow/sTLPluginHWChanges/listeners/PlayerListener.class
target/classes/org/mechSnow/sTLPluginHWChanges/listeners/PlayerListener$PlayerPosition.class
target/classes/org/mechSnow/sTLPluginHWChanges/managers/BarrierManager.class
target/classes/org/mechSnow/sTLPluginHWChanges/managers/TemperatureManager.class
target/classes/org/mechSnow/sTLPluginHWChanges/managers/TemperatureManager$Factor.class
target/classes/org/mechSnow/sTLPluginHWChanges/managers/TickManager.class
target/classes/org/mechSnow/sTLPluginHWChanges/managers/TickManager$1.class
target/classes/org/mechSnow/sTLPluginHWChanges/utils/ConfigUtil.class